
.forget-container{
    margin-top: 50px;
    justify-self: center;
      line-height: 30px;
    border: 1px solid rgb(232, 229, 229);
    padding: 20px;
    height: auto;
  
}

.forget-container p{
    color: grey;
}

.forget-container form{
    backdrop-filter: blur(5px);
}

.forget-container label{
    font-weight: bolder;
}

.forget-container input{
    width: 315px;
    height: 30px;
    border-radius: 10px;
    border-color: grey;
}

.forget-reset-btn{
    margin-top: 10px;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: green;
    font-weight: bolder;
    color: white;
    border: none;
    justify-self: center;
}

.forget-login-content{
    margin-top: 20px;
    justify-self: center;
}

.forget-login-content a{
   text-decoration: none;
   color: grey;
   text-align: center;
}