.navbar-container{
    display: flex;
    height: auto;
    align-items: center;
    gap: 50px;
    border-bottom: 4px solid green;
    
}
.nav-menu{
    display: flex;
    gap: 20px;
}
.navlink{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 500;
}

.navlink:hover{
    color: black;
    text-decoration:underline;
}

.button-container{
    display: flex;
    padding-left: 7%;
    gap: 20px;
}

.login-btn{
    text-decoration: none;
    color: green;
    padding: 10px 30px;
    font-weight: bold;
    border: 1px solid greenyellow;
    border-radius: 15px;
}

.register-btn{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    background-color: green;
    border-radius: 15px;  
}


